@font-face {
  font-family: "NanumGothic";
  src: url(../fonts/NanumGothic.woff) format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "NanumGothic";
  src: url(../fonts/NanumGothicBold.woff) format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "NanumGothic";
  src: url(../fonts/NanumGothicExtraBold.woff) format("woff");
  font-weight: 800;
}

* {
  font-family: "NanumGothic";
  font-weight: 400;
  line-height: 1.5rem;
}