/* header 헤더 */
#header {
  width: 100%;
  height: 65px;
  background-color: #ffffff00;
  backdrop-filter: blur(15px);
  box-sizing: border-box;
  padding: 0 10rem;
  position: fixed;
  /* top: 0;  */
  z-index: 100;
}

.gnb {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

/* header 왼쪽 */

.gnb .header-left {
  display: flex;
  align-items: center;
  gap: 50px;
}

.gnb-logo {
  min-width: 130px;
  height: 65px;
  background: 50% 50% url(../images/차박박.svg) no-repeat;
  background-size: 96%;
  cursor: pointer;
}

.top-menu {
  text-align: center;
  height: 65px;
}

.top-menu>ul {
  display: flex;
}

.top-menu>ul>li {
  width: 110px;
  height: 65px;
  line-height: 60px;
  display: inline-block;
  text-align: left;
  transition: 0.3s ease all;
  position: relative;
  cursor: pointer;
  color: #999;
}

/* 메뉴 리스트 hover 이벤트 */
.top-menu>ul>li:hover {
  border-bottom: 1px solid #778f86;
}

/* 아이콘 숨김 */
.top-menu>ul>li:hover i {
  visibility: hidden;
}

/* hover시 글자 표시 및 위치 조정 */
.top-menu>ul>li:hover a {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.top-menu>ul>li a {
  width: 100%;
  height: inherit;
  line-height: 65px;
  font-size: 17px;
  display: none;
}

.top-menu>ul>li span {
  font-weight: 500;
}

.top-menu li>i.ico:hover {
  background-size: 120%;
}

/* 메뉴 아이콘 */
.about-menu,
.map-menu,
.store-menu,
.notice-menu,
.hamburger-icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 81%;
  background-position: 50% 50%;
  width: 38px;
  height: 65px;
}

.about-menu {
  background-image: url(../images/ico-about.svg);
}

.map-menu {
  background-image: url(../images/ico-map.svg);
}

.store-menu {
  background-image: url(../images/ico-store.svg);
}

.notice-menu {
  background-image: url(../images/ico-notice.svg);
}

/* 로그인, 회원가입*/
.gnb .header-right {
  margin: 0 10px;
  min-height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.85rem;
  color: #647557;
}

.gnb .header-right p {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  color: #647557;
  white-space: nowrap;
}

.mobile-icon {
  cursor: pointer;
  display: none;
  height: 65px;
}

/* 드롭다운 내비게이션 */
.drop-nav {
  /* display: none; */
  width: 100vw;
  height: calc(100vh - 65px);
  position: fixed;
  top: 65px;
  left: 0;
  background-color: #ffff;
  transition: 0.7s ease all;
}

/* 
  레이아웃
  display : inline, inline-block, block, flex, grid
  display에 대한 컨트롤 속성 : flex속성, grid속성
  width/height : px, em, rem, vw, vh
  padding/margin : 길이로 부터의 안팍의 길이 조정
  position : static, relative, absolute, fixed, sticky
  position에 대한 속성 : top, left, right, bottom, z-index
  overflow : hidden, scroll
  color, 등등...
*/







/* 1024px일 때, 반응형 처리 */
/* 반응형 처리할 때 아이콘 */
@media screen and (max-width:1920px) {
  #header {
    padding: 0 9rem;

  }
}

@media screen and (max-width:1024px) {
  #header {
    padding: 0 3rem;
  }

  .header-right,
  .header-left>.top-menu {
    display: none !important;
  }

  .mobile-icon {
    display: block;
  }

  .hamburger-icon {
    background-image: url(../images/hamburger-icon.svg);
  }
}

@media screen and (max-width:768px) {
  #header {
    padding: 0 1rem;
  }
}