#login {
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  background: url(../images/blur-background.png) fixed center center / cover;
}

.login-box {
  margin: 0 auto;
  width: 570px;
  padding: 192px 20px 220px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 40px;

}

/* 로그인 로고  */
.login-logo {
  background-image: url("../images/차박박.svg");
  background-size: 256px 103px;
  width: 256px;
  height: 103px;
  margin: auto;
}

/* 로그인 창 */
#login-form {
  border-radius: 15px;
  padding: 40px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  background-color: #ffffff;
}

.login-top-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.make-account-ment {
  color: #016FB6 !important;
}

.login-top-text>h3 {
  font-size: 30px;
  color: #000000;
  font-weight: 500;
}

.login-top-text span {
  font-size: 14px;
  color: #545454;
  padding-right: 10px;
}

/* input 부분  */
#login-form input {
  height: 40px;
  border-radius: 5px;
  box-sizing: border-box;
  text-indent: 15px;
  background-color: #f5f5f5;
}

#login-form input[type="button"] {
  background-color: #243516;
  color: white;
  height: 40px;
}

/* 찾기 부분 */
.find-text {
  font-size: 13px;
  color: #9B9A9A;
  text-align: center;
  display: flex;
  justify-content: space-around;
  padding: 0 100px;
  cursor: pointer;
}

.find-text p:nth-child(2) {
  cursor: auto;
}
/* 반응형 */
@media screen and (max-width:750px) {
  .login-logo {
    background-image: url("../images/차박박\ copy.svg");
    width: 200px;
    background-size: 200px 100px;
  }
  #login {
    background: #ffffff;
    min-width: 319px;
    padding-top: 20px;
  }
  #login-form {
    box-shadow: 0 0 0;
    padding: 10px 20px 40px 20px;
  }
  .login-top-text>h3 {
    display: none;
  }
  .check-newbie-ment {
    display: none;
  }
  .make-account-ment {
    position: absolute;
    top: 320px;
  }
  .login-box {
    padding: 0px;
    width: auto;
    gap: 0px;
  }
  #login-form input {
    border-bottom: 1px solid #ccc;
    background-color: #ffffff;
    border-radius: 0px;
  }
  #login-form input[type="button"] {
    border: 0px;
    border-radius: 4px;
    height: 45px;
  }
  .find-text {
    justify-content: space-evenly;
    padding: 0;
    width: 200px;
    float: right;
  }
}