/**************** 메인 배너 영역 시작 ****************/
#main {
  height: auto;
}
.main-banner {
  width: 100%;
  /* 화면 높이 - header 높이 */
  /* height: calc(100vh - 50px); */
  height: 100vh;
  position: fixed;
  top: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/main-bg.png) fixed center center / cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.banner-title {
  color: #fff;
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 3rem;
  padding-left: 10vw;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.555));
}

/**************** 메인 설명(인트로) 영역 시작 ****************/
.main-intro {
  width: 100%;
  height: auto;
  position: relative;
  top: 100vh;
  background-color: #fff;
}
.intro-contain {
  max-width: 700px;
  height: 100vh;
  margin: 0 auto;
  padding: 120px 10px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* 인트로 제목  */
.intro-contain > div:nth-child(1) {
  font-size: 26px;
  font-weight: bold;
}
/* 인트로 리스트 */
.intro-contain > ul:nth-child(2) {
  padding: 50px 0 50px 0;
  display: flex;
  justify-content: space-between;
}
/* 리스트 bar */
.bottom-line {
  width: 170px;
  padding-bottom: 3px;
  border-bottom: 4px solid #222;
}
/* 인트로 내용(소개)  */
.intro-contain > div:nth-child(3) {
  font-size: 16px;
}
/* 인트로 버튼 */
.review-btn {
  margin-top: 35px;
  padding: 10px 15px;
  height: 50px;
  background-color: #01321f;
  color: white;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  align-self: flex-start;
}

/**************** 메인 설명(인트로) 영역 끝 ****************/
