#mypage {
  width: 100vw;
  height: 100%;
  /* position: absolute; */
}

.mypage-contain {
  /* position: relative; */
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;

  display: flex;
}

/*******************마이페이지 프로필 부분 *******************/
.mypage-header {
  width: 395px;
  height: auto;

  border-left: 1px solid rgba(0,0,0,.08);
  box-shadow: 5px 1px 8px 0 rgba(0,0,0,.06);
}

/* 1. 타이틀 로고  */

.mypage-header li:nth-child(1){ 
  padding: 1rem 0.7rem;
  
  display: flex;
  align-items: center;
}

.mypage-logo {
  width: 90px;
  height: 60px;

  background-image: url(../images/carbakbakfire-log.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.mypage-header li:nth-child(1) >div {
  font-size: 1.7rem;
  font-weight: 700;
  color: #01321f;
}

/* 2. 프로필 이미지 */
.profile-img {
  width: 150px;
  height: 150px;

  background-image: url(../images/psj.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 50%;
  
  border-radius: 50%;
  box-shadow: 0 3px 6px 0 rgba(29, 34, 53, .08);
}

.mypage-img {
  padding: 5vh 0 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.mypage-img div:nth-child(2) {
  font-size: 1.7rem;
  font-weight: 500;
}
.mypage-img div:nth-child(3) {
  color: #aaa;
}

/* 3. 프로필 내용 */
.mypage-header li:nth-child(3) {
  padding:0 3rem;
}

.mypage-menu {
  padding-bottom: 4rem;
  
  display: flex;
  flex-direction: column;
  gap: 6vh;

  font-size: 1.5rem;
}

.mypage-menu > div {
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 400;
  color: #01321f;
}

/* 4. 로그아웃 */
.logout {
  display: flex;
  justify-content: center;

  padding: 1.6rem 0;
}

.logout > div {
  color: #808080;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
}

/******************* 마이페이지 내용 부분 *******************/
.mypage-content {
  padding: 4.5rem 4rem 0 6rem;
  
  width: 804px;
  height: 100%;
  
  /* border: 1px solid red; */
}

.mypage-profile {
  padding: 20px;
  border: 1px solid #02201538;
  border-radius: 20px;
  box-shadow: 2px 2px 14px 0 rgba(1, 59, 27, 0.233);
}

.mypage-profile > div {
  color: #696969;
}

.mypage-profile ul {
  padding: 10px 0 10px 0;

  display: flex;
  align-items: center;
  gap: 10px;

  border-bottom: 1px solid #eee;
}

.mypage-profile .profile-img {
  width: 80px;
  height: 80px;
}

.mypage-profile .userName {
  padding-top: 5px;
  font-size: 1.5rem;
  font-weight: 500;
}

.mypage-profile .userId {
  padding-top: 5px;
  color: #696969;
}

/* 내 프로필 이미지 아이콘 넣기 */

.accountCircle, .tel, .id, .pw, .adress, .email {
  display: flex;
  align-items: center;
  gap: 5px;
}

.accountCircle >div:nth-child(1){
  background-image: url(../images/ico-accountCircle.svg);
}

.tel> div:nth-child(1){
  background-image: url(../images/ico-tel.svg);
}

.id> div:nth-child(1){
  background-image: url(../images/ico-id.svg);
}

.pw> div:nth-child(1){
  background-image: url(../images/ico-pw.svg);
}

.adress> div:nth-child(1){
  background-image: url(../images/ico-adress.svg);
}

.email> div:nth-child(1){
  background-image: url(../images/ico-mail.svg);
}

.accountCircle > div:nth-child(1),
.tel > div:nth-child(1),
.id >div:nth-child(1),
.pw >div:nth-child(1),
.adress >div:nth-child(1),
.email >div:nth-child(1) {
  width: 20px;
  height: 30px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.change {
  padding-top: 10px;
  cursor: pointer;
  
}
.change:hover, 
.change:active {
  color: #494949;
  text-decoration: underline;
  text-underline-position : under;
}



/*******************고객센터 부분 *******************/
.mypage-service {
  padding: 0 100px 0 0;
}

.info-title > div {
  padding: 40px 0 60px 0;
  font-size: 1.7rem;
  font-weight: 700;
}

.infoBtn {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.infoBtn > li {
  padding: 15px;

  /* border: 1px solid #02201563;  */
  font-size: 1.3em;
  color: #494949;
  border-radius: 10px; 
  box-shadow: 2px 2px 14px 0 rgba(173, 173, 173, 0.308);
  cursor: pointer;
}
.infoBtn li:hover {
  background-color: #01321f;
  box-shadow: 2px 2px 14px 0 #01321f61;
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 600;
}

/* 고객센터 상세페이지 - 공통 */
.login-page > div,
.paymoney-page > div,
.service-page > div,
.ask-page > div {
  padding: 40px 0 60px 0;
  font-size: 1.7rem;
  font-weight: 700;
}

.login-page li,
.paymoney-page  li,
.service-page  li,
.ask-page  li{
  width: 100%;
  border-bottom: 1px solid #c5c5c5ad;
  padding: 25px;
}

.login-page > ul {
  width: 100%;
}

.inquiry-title{
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 10px;
  /* border-radius: 15px; */
  font-size: 1.1rem;
  font-weight: 400;
  color: #1f1f1f;
  cursor: pointer;
}

.inquiry-title::before{
  content: "";
  width: 20px;
  height: 20px;

  display: inline-block;
  background-image: url(../images/ico-search.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  cursor: pointer;
}

.inquiry-content {
  width: 100%;
  max-width: 550px;
  height: 250px;
  padding: 20px 20px;
  margin: 20px 15px 10px;

  color: #575757;
  /* border: 1px solid #727272bd; */
  box-shadow: 1px 1px 10px #d1d1d1 ;
  border-radius: 15px;
}

.backBtn {
  margin-top: 50px;
  padding: 5px 10px;
  border-radius: 10px;
  color: #494949;
  font-weight: 600;
}
.backBtn:hover {
  background-color: #ddd;
}
.backBtn:active {
  background-color: #aaa;
}

/* 문의하기 페이지 */
.ask-content {
  width: 30rem;
  height: auto;
  min-height: 20rem;

  padding: 10px;

  /* border: 1px solid rgb(202, 202, 202); */
  box-shadow: 2px 1px 10px #dfdfdf;
  border-radius: 15px;
  resize: none;
}

.askBtn {
  margin: 50px 0 0 15px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #0b4e34;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
}


/************************ 반응형 ***********************/

@media screen and (max-width:1200px) {
  .mypage-contain{
    max-width: 1000px;
  }
}

@media screen and (max-width:1000px) {
  .mypage-contain {
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  .mypage-header {
    width: 100%;
    height: auto;
    border-left: none;
    box-shadow: none;
  }

  .mypage-header li:nth-child(1){
    padding: 1rem;
  }

  .mypage-img {
    padding: 0;
  }

  /* 메뉴(내프로필, 스토어, 고객센터) */
  .mypage-header li:nth-child(3){
    padding: 2rem 6rem 0;
  }

  .mypage-menu {
    padding-bottom: 3rem;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
  }

  .logout {
    display: none;
  }

  /* 내프로필 */
  .mypage-content{
    width: 100%;
    height: auto;
    padding: 4rem 6rem;
  }

  .mypage-profile .profile-img{
    display: none;
  }

  /* 스토어 */

  /* 고객센터 */
  .mypage-service{
    padding: 10px;
  }
  .info-title > div{
    padding: 10px 0 60px 10px;
  }

  /* 고객센터 상세 */

  .login-page ,
  .paymoney-page , 
  .service-page , 
  .ask-page  {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login-page > div,
  .paymoney-page > div, 
  .service-page > div, 
  .ask-page > div {
    padding: 10px 10px 60px 10px;
  }

  .backBtn {
    display: inline-block;
    float: right;
  }

  /* 상세 > 1 : 1 문의하기  */
  .ask-content {
    width: 39rem;
  }

  .askBtn {
    display: inline-block;
    float: inline-end;

    margin: 50px 10px 0 0;
  }

  /* 모바일 로그아웃 버튼 */
  .mobile-logoutBtn{
    padding: 20px 10px 5rem;

    color: #696969;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #696969;
    cursor: pointer;
  }
}

@media screen and (max-width: 768px){
  .mypage-header li:nth-child(3){
    padding: 2rem 4rem 0;
  }
  .mypage-content{
    padding: 4rem;
  }
  .login-page li,
  .paymoney-page  li,
  .service-page  li,
  .ask-page  li{
    width: 100%;
    padding: 25px 18px;
  }
}

@media screen and (max-width: 450px){
  .mypage-header li:nth-child(3){
    padding: 2rem 3rem 0;
  }

  /* 로고, 타이틀 */
  .mypage-logo{
    width: 80px;
    height: 50px;
  }

  .mypage-header li:nth-child(1) >div{
    font-size: 1.5rem;
  }

  /* 프로필 */
  .mypage-img{
    gap: 12px;

  }

  .profile-img{
    width: 130px;
    height: 130px;
  }

  .mypage-menu {
    padding-bottom: 2rem;

    gap: 2rem;
  }

  .mypage-menu > div {
    font-size: 1.2rem;
  }

  .mypage-content{
    padding: 2.5rem;
  }
}
