  @charset "UTF-8";

  #noticedetail {
    position: relative;
    width: 100%;
    height: auto;
    top: 65px;
    padding: 0 9rem;
  }

  .ntDetail-contain {
    min-height: 100vh;
    max-width: 1600px;
    margin: 0 auto;
  }

  /* 세부 공지사항 제목 */
  .ntDetail-title {
    border-bottom: 1px solid #e6e8eb;
    padding: 6rem 0 4rem;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .ntDetail-title>h1 {
    font-size: 2.7rem;
    font-weight: 700;
    line-height: 3rem;
  }

  .ntDetail-title>span {
    color: #5a5a5a;
  }

  /* 세부 공지사항 내용 */
  .ntDetail-content {
    padding: 3.5rem 0.8rem 5rem;
    border-bottom: 1px solid #e6e8eb;
  }

  .ntDetail-content p {
    line-height: 2.5rem;
    font-weight: 300;
  }

  .ntDetail-content span {
    color: #01321f;
  }

  /* 공지사항 목록으로 넘어가는 부분 */
  .not-comeback p {
    color: #131313;
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0;
    padding: 3rem 0 5rem 0.6rem;
  }
  
  .not-comeback p:hover {
    color: #01321f;
    font-weight: 600;
  }



  /* 반응형처리 부분 */
  @media screen and (max-width:1024px) {
    #noticedetail {
      top: 71px;
      padding: 0 3rem;
    }
  }

  @media screen and (max-width:768px) {

    #noticedetail {
      padding: 0 1rem;
    }

    /* 타이틀  */
    .ntDetail-title {
      padding: 5.5rem 15px 3rem ;
      gap: 1rem;
    }

    .ntDetail-title>span {
      font-size: 1rem;
    }

    .ntDetail-title>h1 {
      font-size: 1.7rem;
    }

    /* 내용 */
    .ntDetail-content {
      padding: 1.5rem 0.8rem 3rem;
    }

    .ntDetail-content p {
      font-size: 0.95rem;
    }
  }