@charset "UTF-8";

#notice {
  position: relative;
  width: 100%;
  height: auto;
  top: 65px;
  padding: 0 9rem;
}

.noti-contain {
  max-width: 1600px;
  margin: 0 auto;
}

.noti-contain>h1 {
  padding: 11rem 0 5rem;
  font-size: 2.7rem;
  font-weight: 700;
  color: #01321f;
}

/* select 부분 */
.order-opt {
  align-self: flex-end;
}

select#order {
  width: 100px;
  height: 38px;
  border-radius: 10px;
  padding: 0.3rem 0.8rem;
  border: 1px solid #eee;
  outline: none;
  font-size: 0.8rem;
}

/* 공지사항 테이블 부분 */
.noti-content {
  padding-bottom: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}

.noti-table {
  width: 100%;
}

.noti-table tr {
  background-color: #FFF;
  border-bottom: 1px solid #eee;
}

.table-title td {
  font-weight: 600;
  font-size: 1.2rem;
  color: #01321f;
}

.table-content td {
  font-size: 1rem;
}

.table-content tr:hover {
  background-color: #b0b9a86b !important;
}

.table-content td:nth-child(3) {
  cursor: pointer;
}

.table-content a {
  display: block;
}

.table-title td,
.table-content td {
  text-align: center;
  padding: 0.6rem 0;
}

/* pagenation */
.page-num {
  display: flex;
  gap: 1rem;
}

.page-num span {
  display: block;
  font-weight: 600;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background-color: #c9d4c0;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.8rem;
}

.page-num span:active {
  border: none;
  background-color: #b2bbaa;
}

/* 하단 검색 부분 */
.search-contain {
  display: flex;
  gap: 0.5rem;
  flex: 1;
}

.search-contain input {
  width: 400px;
  height: 40px;
  border: 1px solid #eee;
  text-indent: 15px;
  font-size: 0.85rem;
  outline: none;
}

/* 검색 버튼 */
.search-contain button {
  width: 60px;
  border: 1px solid #eee;
  background-color: #FFF;
  border-radius: 10px;
  cursor: pointer;
  font-size: 0.8rem;
}

.search-contain button:hover {
  border: none;
  background-color: #c9d4c0;
}

.search-contain button:active {
  background-color: #b2bbaa;
}

/* 반응형 처리  */
@media screen and (max-width:1024px) {
  #notice {
    padding: 0 3rem;
  }

  .noti-contain>h1 {
    padding: 9rem 0 3rem;
    font-size: 2.2rem;
  }

  .noti-content {
    padding-bottom: 8rem;
  }
}

@media screen and (max-width: 900px) {
  #notice {
    padding: 0 1rem;
  }

  .noti-content {
    gap: 4rem;
    padding-bottom: 10rem;
  }

  .noti-contain>h1 {
    font-size: 2rem;
    padding: 9rem 0 4rem;
  }

  .table-title td {
    display: none;
    font-size: 1rem;
  }

  .table-content td:nth-child(1) {
    display: none;
  }

  .table-content td>a {
    font-size: 1.2rem;
    font-weight: 700;
  }

  .table-content td {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.9rem;
  }

  .page-num span {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .search-contain input {
    width: 300px;
    height: 35px;
    font-size: 0.8rem;
  }

  .search-contain button {
    width: 50px;
  }
}

@media screen and (max-width: 420px) {
  .noti-contain>h1 {
    padding: 7rem 0 3rem;
  }

  .noti-content {
    gap: 3rem;
  }

  .table-content td {
    font-size: 0.8rem;
  }

  .table-content td:nth-child(3) {
    padding: 0;
  }

  .search-contain input {
    width: 220px;
  }

}