@charset "UTF-8";

#notice {
  position: relative;
  width: 100%;
  top: 60px;
  padding: 0 3rem;
}

.noti-contain {
  /* border: 1px solid red; */
  height: calc(100vh - 60px);
  max-width: 1600px;
  margin: 0 auto;
}

.noti-contain>h1 {
  padding: 13rem 0 6rem 1.3rem;
  font-size: 2.8rem;
  font-weight: 700;
}

/* select 부분 */
.order-opt {
  align-self: flex-end;
}

select#order {
  width: 150px;
  height: 50px;
  border-radius: 10px;
  padding: 0.3rem 0.8rem;
  border: 1px solid #eee;
  outline: none;
  font-size: 1rem;
}

/* 공지사항 테이블 부분 */
.noti-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 3vw;
  gap: 4rem;
}

.noti-table {
  width: 100%;
}

.noti-table tr {
  border-bottom: 1px solid #ccc;
  color: #2b2b2b;
}

.table-title td {
  font-weight: 600;
  font-size: 1.4rem;
}

.table-content td {
  font-size: 1.2rem;
  background-color: #eee;
}

.table-content td:nth-child(2) {
  cursor: pointer;
}

.table-content td:hover {}

.table-title td,
.table-content td {
  text-align: center;
  padding: 8px 0;
}

/* pagenation */
.page-num {
  display: flex;
  gap: 1rem;
}

.page-num span {
  display: block;
  font-weight: 600;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #ccc;
  border-radius: 10px;
  cursor: pointer;
}

.page-num span:active {
  border: none;
  background-color: #bbb;
}

/* 하단 검색 부분 */
.search-contain {
  display: flex;
  gap: 0.5rem;
  flex: 1;
}

.search-contain input {
  width: 450px;
  height: 50px;
  border: 1px solid #eee;
  text-indent: 15px;
  font-size: 1.15rem;
}

/* 검색 버튼 */
.search-contain button {
  width: 60px;
  border: 1px solid #eee;
  background-color: #FFF;
  border-radius: 10px;
  cursor: pointer;
  font-size: 0.9rem;
}

.search-contain button:hover {
  border: none;
  background-color: #eee;
}

.search-contain button:active {
  background-color: #ddd;
}