#store {
  position: relative;
  width: 100%;
  height: 100%;
  top: 65px;
}

/* ******************* 검색창 영역 ******************* */
.menu-content {
  padding: 20px 15px;
  display: flex;
  justify-content: center;
}

.searchBar {
  width: 100%;
  max-width: 1000px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.search-box {
  width: 100%;
  max-width: 500px;
  padding: 8px 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border: 2px solid #07312181;
  border-radius: 15px;
}

.header_search_input {
  width: 100%;
}

.ico-search {
  background-image: url(../images/ico-search.svg);
  display: block;
}

.ico-shopping {
  background-image: url(../images/ico-shopping_cart.svg);
}

.ico-search,
.ico-shopping {
  width: 30px;
  height: 30px;
  background-size: 100%;
}

/* ******************* 광고 영역 ******************* */
.banner {
  width: 100%;
}
.banner .banner-img:nth-child(3n + 2) {
  background-image: url(../images/banner1.png);
}
.banner .banner-img:nth-child(3n + 3) {
  background-image: url(../images/banner2.png);
}
.banner .banner-img:nth-child(3n + 4) {
  background-image: url(../images/banner3.png);
}

.banner-img {
  height: 300px; 
  padding: 0 3rem; 
  position: relative;
  
  display: flex !important;
  flex-flow: row nowrap; 
  justify-content: space-between; 
  align-items: center; 
  gap: 10px 3rem;
  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.banner-img span:first-child {

}

.banner-img span:last-child {

}

/* ******************* 내비게이션 영역 ******************* */
.store-navigation {
  padding: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.store-navigation ul {
  width: 100%;
  max-width: 1000px;

  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/

  /* flex를 grid 속성으로 대체. 미디어 쿼리를 사용해 열의 개수를 지정 */
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  padding: 10px;

  text-align: center;
  line-height: 50px;
} 

.store-navigation li {
  padding: 10px 30px;
  border-right: 1px solid #f2f2f2;
  white-space: nowrap;
  cursor: pointer;
}
.store-navigation li:last-child {
  border-right: none;
}

/* 스토어 body 영역 */
.store-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

.store-body > div {
  max-width: 1000px;
}

.store-body > div:last-child {
  padding-bottom: 10rem;
}

/* ******************* 베스트 상품 영역 ******************* */
.bestItem-contain,
.newItem-contain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

/* 베스트, 뉴 아이템 타이틀  */
.bestItem-title,
.newItem-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.bestItem-title > span:first-child,
.newItem-title > span:first-child{
  font-size: 25px;
  text-align: center;
  font-weight: 700;
}

/* 베스트 아이템 내용 */
.bestItem-content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

/* 베스트 아이템 캐러셀(슬라이드) */
.bestItem-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 30px; */
}

.bestItems{
  padding: 0 10px;
}

.bestItems > a > div {
  white-space: nowrap;
}

.ico-arrow-front, 
.ico-arrow-back {
  min-width: 30px;
  width: 30px;
  height: 30px;

  cursor: pointer;
  
  display: block;
  
  background-repeat: no-repeat; 
  background-size: 100%;
}
.ico-arrow-back {
  background-image: url(../images/ico-arrow-back.png);
}
.ico-arrow-front {
  background-image: url(../images/ico-arrow-front.png);
}

/* 베스트 아이템 박스 */
.box-items{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.boxItem-img {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.boxItem-img > img {
  width: calc(100% / 2 - 10px);
}

/* ******************* 새로운 상품 영역 ******************* */

/* 새로운 상품 이미지 */
.newItem-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.newItems {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* ******************* =slick 영역 ******************* */

.slick-track {
  display: flex;
}
.slick-prev, .slick-next {  
  background-color: #FFF;
}
.slick-dots {
  height: 30px;
  padding-top: 10px;

  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
.slick-dots > li {
  display: inline-block;
  cursor: pointer;
}
span.custom-dot {
  display: block;
  width: 20px;
  height: 20px;
  background: 50% 50% url(../images/ico-filldot.svg) no-repeat;
  filter: brightness(1.9);
}
.slick-active span.custom-dot {
  filter: brightness(1);
}

@media all and (max-width: 1000px) {
  /****   스토어 아이템 내비게이션   ****/
  .store-navigation ul {
    grid-template-columns: repeat(4, 1fr);
  }
  .store-navigation ul > li:nth-child(4n + 4) {
    border-right: none;
  }

  /****   BEST ITEM 슬라이드 리스트   ****/
  .bestItem-carousel .slick-list {
    max-width: 650px;
  }

  /****    BEST ITEM 슬라이드 리스트 서브 이미지    ****/
  .bestItem-box {
    padding: 0 40px;
  }
  .boxItem-img {
    min-width: 550px;
  }

  /****   NEW ITEM 리스트   ****/
  .newItem-content {
    padding: 0 40px;
  }
}

@media all and (max-width: 768px) {
  /****   BEST ITEM 슬라이드 리스트   ****/
  .bestItem-carousel .slick-list {
    max-width: 500px;
  }

  /****   NEW ITEM 리스트   ****/
  .newItem-content {
    flex-wrap: wrap;
    gap: 30px;
  }
  .newItems {
    width: 80%;
    min-width: 155px;
    gap: 5px;
  }
}

@media all and (max-width: 580px) {
  /****   스토어 아이템 내비게이션   ****/
  .store-navigation ul {
    grid-template-columns: repeat(2, 1fr);
  }
  .store-navigation ul > li:nth-child(2n + 2) {
    border-right: none;
  }

  /****   BEST ITEM 슬라이드 리스트   ****/
  .bestItem-carousel .slick-list {
    max-width: 300px;
  }

  /****    BEST ITEM 슬라이드 리스트 서브 이미지    ****/
  .boxItem-img {
    flex-wrap: wrap;
    justify-content: center;
    min-width: 320px;
  }
  .boxItem-img > img {
    width: 80%;
  }

  .newItems img {
    border-radius: 24px 0 24px 0;
  }
}