#store {position: relative; width: 100%;height: 100%;top: 65px;}
.store-logo-img {background-image: url("../images/차박박\ copy.svg");background-size: 270px 63px;width: 270px;height: 63px;}
.header_inner {display: flex;align-items: center;justify-content: space-evenly;}
.store-logo {width: 20%;}
.search_box {width: 250px;border: 1px solid #01321f;height: 30px;border-radius: 3px;margin-right: 10px;}
.menu_right {display: flex; margin-right: 40px;}
.header_search_input {width: 100%;border-radius: 3px;}
.menu_inner {height: 50px;display: flex;justify-content: space-between;align-items: center; border-bottom: 1px solid #f2f2f2;}
.menu_inner ul {display: flex; align-items: center; vertical-align: middle;height: 100%;}
.menu_inner li {width: auto; text-align: center; padding: 0 40px; border-right: 1px solid #f2f2f2; line-height: 50px; height: 100%;}
.banner {width: 100%;height: 350px;}
.banner-img {background-image: url(../images/banner1.png);background-size: contain;background-repeat: no-repeat;height: 100%;}
.section {display: flex; justify-content: space-between; margin: auto; width: 1000px; }
.body_section1 {margin-top: 30px;}
.body_section2, .body_section3, .body_section4 {margin-top: 80px;}
.body_section3 {margin-bottom: 80px;}
.box {display: flex; flex-direction: column; padding: 15px 0;}
.sec1, .sec2, .sec3, .sec4 {width: 100%;}
.content {display: flex; justify-content: space-evenly; align-items: center;}
.sec1 > .content > .item {width: 22%;}
.sec2 > .content > .item {width: 48%;}
.sec3 > .content > .item {width: 32%;}
.sec4 > .content > .item {width: 100%;}
.item-img {height: 255px;}
.sec2 > .content > .item > .item-img {height: 255px;}
.item-img > img {background-size: cover; background-repeat: no-repeat; height: 255px;}
.title {font-size: 25px; text-align: center; font-weight: 700;}
.mini-title {text-align: center; margin: 2px 0px 20px 0px; font-size: 15px;}
.item-txt {display: flex;justify-content: space-between;}

.ico-shopping {background-image: url(../images/ico-shopping_cart.png); background-size: 30px 30px; width: 30px; height: 30px; background-repeat: no-repeat; display: flex;}
.ico-arrow-back {background-image: url(../images/ico-arrow-back.png); background-size: 30px 30px; width: 30px; height: 30px; background-repeat: no-repeat; display: flex;}
.ico-arrow-front {background-image: url(../images/ico-arrow-front.png); background-size: 30px 30px; width: 30px; height: 30px; background-repeat: no-repeat; display: flex;}