@charset "UTF-8";

@import "font.css";

@import "header.css";
@import "main.css";
@import "footer.css";
/*
@import "map.css";
@import "store.css"; */
@import "notice.css";
@import "noticedetail.css";


html,
body {
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}

html,
body,
ul,
ol,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

main,
label {
  display: block;
}

a,
u,
i,
em {
  text-decoration: none;
}

a {
  color: #999;
}

a:active {
  color: #777777;
}

a:visited {
  color: #999;
}

li {
  list-style: none;
}

* {
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

img {
  width: 100%;
  object-fit: cover;
}

table,
tr,
th,
td {
  border: 2px solid gray;
  border-collapse: collapse;
  border: none;
}